
.spinning-circle {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #666;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    display: block;
    margin: 0 auto 5px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg);
    -webkit-transform: rotate(0deg); }
    100% { transform: rotate(360deg);-webkit-transform: rotate(360deg); }
}

